<!-- Extends from blog/base.html -->
{% extends "blog/base.html" %}

<!-- Load crispy form style -->
{% load crispy_forms_tags %}

<!-- Start block content -->
{% block content %}

<div class="content-section">
    <form method="POST">
        <!-- CSRF token adds security that Django require before using form -->
        {% csrf_token %}

        <!-- Form -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            <!-- Django built-in form with crispy style -->
            {{ form|crispy }}
        </fieldset>

        <!-- Log in button -->
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>

    <!-- Sign up button -->
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>
</div>

<!-- End block content -->
{% endblock content %}